<?xml version="1.0"?>
<!-- This is a bare configuration for a Tridion.Web editor -->
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

	<!--
		The SDL Tridion GUI uses a merging technique to minimize the amount of calls done by the client
		for static files (like .css and .js file).
		The files can be grouped and will be merged per group (if merging is enabled on the group)
		For debugging purposes the merging behavior can be switched off by setting the merge attribute to false.
	-->
	<resources>
		
		<cfg:filters />
		
		<cfg:extensiongroups />
		
		<cfg:groups />
		
	</resources>

	<definitionfiles>
		<!-- List definitions -->
	</definitionfiles>

	<!--
		The SDL Tridion GUI allows for additions, manipulations and removal of items within the GUI through
		the 'extension methodology'.

		Below is the configuration section for those extensions.
		These configuration sections can be defined inline or external (if the externaldefinition is used, all
		inline content is ignored!)
	-->
	<extensions>
		<ext:editorextensions>
			<ext:editorextension target="">
				<ext:editurls />
				<ext:listdefinitions />
				<ext:itemicons />
				<ext:taskbars />
				<ext:commands />
				<ext:commandextensions/>
				<ext:contextmenus />
				<ext:lists />
				<ext:xslstylesheetextensions>
					<!-- The `view` element hold the name of the view for which this processor extensionis applicable. * (Asterics) means all views 
						@name attribute defines the Name of a view (* for all views)
					-->
					<view name="*">
						<!-- The `control` element holds the name of the control for which this processor extension is applicable. * (Asterics) means all controls 
							@id attribute defines the ID of a control (* for any control id)
						-->
						<control id="*">
							<!-- The 1xslstylesheet` element holds the url of the extension for which this processor extension is applicable. * (Asterics) means all processors 
								@stylesheetUrlMatch attribute defines the regularexpression of a processorFile (* for any file)
							-->
							<xslstylesheet stylesheetUrlMatch="XHTMLtoHTML\.xslt$">
								<!-- The `xslstylesheetextension` element holds the path and filename of the list definition xml file to use 
									@path is the path to stylesheet extension
									@insertPosition option indicates where content will be included in the document (it might be either `top` or `bottom`).
								-->
								<xslstylesheetextension path="/Extensions/Controls/FormatArea/Xslt/XHTMLtoHTML.xslt" insertPosition="bottom"/>
							</xslstylesheet>
						</control>
					</view>
				</ext:xslstylesheetextensions>
				<ext:deckpages />
				<ext:tabpages />
				<ext:toolbars />
				<ext:ribbontoolbars/>
				<ext:extendedareas />
				<ext:optionspanels />
			</ext:editorextension>
		</ext:editorextensions>
		<ext:dataextenders />
		<ext:resourceextensions/>
	</extensions>

	<!--
		The SDL Tridion GUI uses a 'Command' pattern for the commands executed whenever a user
		interacts with the system.

		Below are all the available commands specified and the file that holds the actual implementation of that command.
	-->
	<commands />
	
	<contextmenus />
	
	<widgetsviews />
	
	<localization />

	<settings>
		<dependencies>
			<editor>CME</editor>
		</dependencies>
		<defaultpage/>
		<editurls/>
		<listdefinitions />
		<itemicons />
		<theme>
			<path>/Themes/</path>
		</theme>
		<resourceextensions />
		<customconfiguration />
	</settings>

</Configuration>
